[2016-10-05 08:18] lucasponce opened #12 "Documentation for uses within wildfly ISPN"
Hello,
In Hawkular we have an use case to use ISPN inside OpenShift.
Reading this post:
http://blog.infinispan.org/2016/08/running-infinispan-cluster-on-openshift.html
seems that jgroups-kubernet is just what we need.
Is there any documentation about a widfly/EAP image that supports this protocol ?
Thanks.

[2016-10-05 08:34] slaskawi commented on #12
Hey @lucasponce!

EAP should work on OpenShift without any problems. Please have a look at [this guide](https://developers.openshift.com/servers/jbosseap/getting-started.html).

Unfortunately I'm not sure about WildFly (the community version of EAP), but I'll check it out and get back to you soon.

[2016-10-05 13:23] mwringe commented on #12
That looks to be the documentation for the old cartridge based OpenShift, we are looking more for how to do this in OpenShift v3

[2016-10-05 13:26] slaskawi commented on #12
Right, for OSE3 you can find the information here: https://docs.openshift.com/enterprise/3.0/using_images/xpaas_images/eap.html

[2016-10-05 13:44] mwringe commented on #12
Do you have documentation for the newer OSE 3.3 release?

Note that we already have our own pods for our setup right now, but they were stateless and didn't need to cluster together. We are now moving towards a stateful approach and we need to figure out how to securely cluster our EAP and Wildfly instances with jgroups/infinispan.

It looks like http://blog.infinispan.org/2016/08/running-infinisp

[2016-10-05 14:28] slaskawi commented on #12
@mwringe In that case I suggest looking into EAP official XPaaS images.

It looks like the documentation for 3.3 has [been moved](https://docs.openshift.com/container-platform/3.3/using_images/xpaas_images/index.html). Please have a look here: https://access.redhat.com/documentation/en/red-hat-xpaas/version-0/red-hat-xpaas-eap-image/

[2016-10-05 14:30] lucasponce commented on #12
@slaskawi do you happen to know if the source code of the EAP xPaaS images are available ?
I can see that the EAP has a new layer under modules/system/layers/openshift where the kubernetes library is configured among other things.
I would like to see if can reuse that setup for wildfly too.
thanks !

[2016-10-06 07:51] slaskawi commented on #12
@lucasponce @mwringe I think you confuse community projects and products, so let me try to explain...

Wildfly is a community equivalent of Red Hat's product called EAP. The same applies to Infinispan (which is an equivalent of a product called JDG) and OpenShift Origin, which is a community version of OpenShift Enterprise (OSE). Products are built on top of community bits but offer better stabili

[2016-10-11 07:12] slaskawi commented on #12
Discussed off-list.

[2016-10-11 07:12] #12 closed

[2016-10-14 02:59] tjliupeng opened #13 "Is this component necessary for application using jgroups deployed on Kubernetes?"
Hi,

At present we try to move our application which uses JGroups to manage the cluster to Kubernetes. The JGroups uses UDP to communicate. Than we find that on the k8s env, the nodes can not communicate to each other. Each node forms a group. Does this component solve this problem? Can we solve the problem using TCP?

[2016-10-14 05:49] slaskawi commented on #13
Hey @tjliupeng !

Yes, that is correct.

`TCP` is a transport protocol but JGroups also need a [discovery protocol](http://www.jgroups.org/manual-3.x/html/protlist.html#DiscoveryProtocols) to detect other nodes. `KUBE_PING` has been designed to solve discovery problem in OpenShift and Kubernetes.

Thanks
Sebastian

[2016-10-14 09:53] tjliupeng commented on #13
Any example to use this library for the application embedding Jgroups components?

Thanks

[2016-10-14 10:00] slaskawi commented on #13
Infinispan provides `KUBE_PING` integration (https://github.com/infinispan/infinispan-simple-tutorials/tree/master/kubernetes). However you will probably be the most interested in configuration file, which can be found here: https://github.com/infinispan/infinispan/blob/master/cloud/src/main/resources/default-configs/default-jgroups-kubernetes.xml

Using Gossip Router in Kubernetes should also do

[2016-10-14 10:02] tjliupeng commented on #13
@slaskawi , Thanks. I will read them and get back here.

[2016-10-21 07:55] tjliupeng commented on #13
@slaskawi , I succeuss to enable the TCP capability for Jgroups cluster in our application. Thanks for your help.

[2017-02-20 09:24] slaskawi opened #16 "Ensure there's a way to disable the HTTP Server"
For some scenarios (e.g. Kubernetes Rolling Updates) it might be beneficial to use `KUBE_PING` only as a discovery protocol (and not sort of Fault Detection). Since `KUBE_PING` tries to act also as a FD protocol it delays `FD_ALL`, which is a bad thing.

[2017-03-09 11:07] phlawski opened #17 "Misleading message in case of wrong Kubernetes labels"
When OPENSHIFT_KUBE_PING_LABELS env key is not set or contains wrong labels - which are basically not existing in the current deployment, we're getting misleading exception message. In this case IllegalArgumentException is throw with some generic info.

[2017-03-09 15:21] nvoskresenskiy opened #18 "java.lang.NoSuchMethodError when running library version 0.9.1 with JGroups 3.x"
The following error is encountered when attempting to use KubePing with library version 0.9.1 and jgroups 3.x (tested on 3.6.12.Final):

SEVERE: JGRP000200: failed sending discovery request
java.lang.NoSuchMethodError: org.jgroups.Message.setSrc(Lorg/jgroups/Address;)Lorg/jgroups/Message;
	at org.jgroups.ping.common.OpenshiftPing.sendMcastDiscoveryRequest(OpenshiftPing.java:197)
	at org.jgroups.pr

[2017-03-10 12:03] slaskawi commented on #18
Yes, of course. That's a regression. I'll fix and release 0.9.2. Thanks for spotting this!

[2017-03-10 12:04] slaskawi commented on #17
Thanks a lot! I'll have a look into it!

[2017-03-10 12:05] slaskawi opened #19 "Support external_addr in TCP configuration"

[2017-03-14 08:00] #18 closed

[2017-03-14 08:17] slaskawi commented on #16
Together with @belaban we decided to create a new `KUBE_PING` protocol which won't use it. Stay tuned and wait for an announcement of version `1.0.0.Alpha1`.

[2017-03-14 08:17] #16 closed

[2017-03-14 08:18] slaskawi opened #22 "Replace DNR with some descent JSON parser"

[2017-03-14 08:19] slaskawi opened #23 "KUBE_PING should extend TCPPING"
To reuse most of the logic there. The fix should also remove the HTTP Servers.

[2017-03-14 08:22] slaskawi commented on #22
How about this: https://github.com/bolerio/mjson/blob/master/src/java/mjson/Json.java ?

[2017-03-14 10:03] belaban commented on #23
The idea is to use client.getPods() to retrieve all IP addresses of all pods. Then, instead of sending discovery requests to the web servers at 8888, we send them directly to the members at the given bind ports (plus port_range).

This allows us to remove the web server.

The new KUBE_PING2 protocol will probably extend `TCPPING`, so the logic of the parent class can be reused.

[2017-03-14 10:10] slaskawi commented on #17
I created a small reproducer test for this: https://github.com/jgroups-extras/jgroups-kubernetes/pull/24

Unfortunately I it doesn't seem to work. Using wrong labels causes Kubernetes to return an empty list of pods (which seems like a natural thing to do). I think there's something more going on there...

Could you please share your stacktrace? Or contribute a reproducer?

[2017-03-14 10:18] slaskawi commented on #19
The `external_addr` is not used anywhere in `KUBE_PING`. I suspect the problem was caused by misconfiguration.

[From the clustering guide](https://docs.jboss.org/jbossas/docs/Clustering_Guide/beta422/html/jbosscache-jgroups-transport-tcp.html):

[2017-03-14 10:18] #19 closed

[2017-04-20 06:20] slaskawi commented on #17
Closing because of lack of activity. Please reopen if there is something new...

[2017-04-20 06:20] #17 closed

[2017-04-21 11:53] belaban commented on #23
Done - still needs some testing with minikube

[2017-04-26 14:26] belaban commented on #23
Tests were successful with Minikube, documentation is in the readme.adoc

[2017-04-26 14:26] #23 closed

[2017-04-28 11:01] tsegismont commented on #23
Thanks Bela, I'll try it next week.

2017-04-26 19:56 GMT+05:30 Bela Ban <notifications@github.com>:

[2017-04-28 11:03] slaskawi commented on #23
+1000! that's a tremendous step forward!

[2017-04-28 11:07] belaban commented on #23
I also tested KUBE_PING on Google Container Engine (GKE), as it works the same as on minikube. Let me know if you find any flaws when testing it yourself.

[2017-04-28 11:10] tsegismont commented on #23
Will do. This was required to enable S2I builds with vertx-infinispan.
Thank you for looking into this!

2017-04-28 16:37 GMT+05:30 Bela Ban <notifications@github.com>:

[2017-05-02 09:24] belaban commented on #22
Excellent choice! Super easy to use; I'll remove jboss-dmr today and use the JSON parser above.

[2017-05-02 12:16] belaban commented on #22
Done: jgroups-kubernetes Alpha6

[2017-05-02 12:16] #22 closed

[2017-05-02 12:16] belaban commented on #22
@slaskawi If you have a moment, it would be cool for this to get tested running in Openshift!

[2017-06-20 07:34] nikolicjakov opened #30 "java.lang.NoSuchFieldError: use_ip_addrs"
Hi, we are having problems using this jgroups extension since it can not find "use_ip_addrs" in class org.jgroups.protocols.Discovery.

`14:57:37,742 ERROR [org.jboss.msc.service.fail] (MSC service thread 1-1) MSC000001: Failed to start service jboss.jgroups.channel.ee.connector: org.jboss.msc.service.StartException in service jboss.jgroups.channel.ee.connector: java.lang.Exception: connecting to

[2017-06-20 07:37] slaskawi commented on #30
Could you please tell me what JGroups/KUBE_PING versions are you using?

[2017-06-20 07:43] nikolicjakov commented on #30
JGroups version = 3.6.6 Final
JGroups Kubernetes version = 1.0.0 Beta1

[2017-06-20 07:46] slaskawi commented on #30
Unfortunately KUBE_PING `1.0.0.Beta1` can only be used with JGroups 4 (see https://github.com/jgroups-extras/jgroups-kubernetes/blob/master/pom.xml#L56).

[2017-06-20 07:54] nikolicjakov commented on #30
Ahh my bad.... sry. But if i update jgroups my keycloak wont start, daamn i am stuck... :(

[2017-06-20 08:04] slaskawi commented on #30
Yes, in that case the `stable` releases (`0.9.x`) are for you. They support both JGroups 3 and 4.

Is there something in `0.9.x` that forces you to migrate into `1.x.x`?

[2017-06-20 08:07] nikolicjakov commented on #30
No, not rly. I was just greedy wanting latest and greatest. :+1:

[2017-06-20 08:09] slaskawi commented on #30
hahah Ok, than :) Closing the ticket.

[2017-06-20 08:09] #30 closed

[2017-06-20 09:30] nikolicjakov commented on #30
@slaskawi Can i just quickly ask you something. Now that i am using jgroups 3.6.6 and kubernetes-0.9.3.jar i am still not able to startup keycloak instance due to error.

`09:28:55,423 WARN  [org.jboss.modules] (ServerService Thread Pool -- 15) Failed to define class org.jgroups.ping.kube.KubePing in Module "org.jgroups-kubernetes:main" from local module loader @33e5ccce (finder: local module find

[2017-06-22 07:23] slaskawi commented on #30
Sorry for late response, I was on PTO.

It seems that your module doesn't contain `org.jgroups.kubernetes:common`. Here's an example how we define it in Infinispan: https://github.com/infinispan/infinispan/blob/9.0.0.Final/server/integration/feature-pack/src/main/resources/modules/system/layers/base/org/jgroups/kubernetes/kubernetes/main/module.xml#L9-L12

[2017-06-30 09:06] tsegismont opened #31 "KUBE_PING doc: default is "https" not "http""

[2017-06-30 18:55] #31 closed

[2017-08-23 13:24] fmarchioni opened #33 "KUBE_PING requires option to separate clusters during Rolling Update"
During the Rolling Update all Pods (new and old) are put in the same cluster. For some use cases (e.g. when an app deployed on WF is not backwards compatible and uses cache) we need to separate those two clusters.
See also: https://issues.jboss.org/browse/CLOUD-2001

[2017-08-24 07:57] slaskawi opened #34 "Remove SimplePingTest"
Remove `SimplePingTest` since it tests `FILE_PING`

[2017-08-25 09:57] #34 closed

[2017-08-28 09:08] #33 closed

[2017-09-20 13:57] Macok opened #37 "Memory leak in mjson library"
There is a memory leak just discovered in mjson library, which this project is using.
https://github.com/bolerio/mjson/issues/27

Here's some analysis of a heap dump, dumped from our application using your KubePing implementation.
![leak2](https://user-images.githubusercontent.com/881054/30647713-74ba1630-9e1c-11e7-89a7-ac6f6aaf7b62.PNG)

I would suggest switching to more mature json parser, at le

[2017-09-21 19:11] slaskawi commented on #37
Thanks @Macok for noticing. I proposed fix here: https://github.com/bolerio/mjson/pull/28

[2017-10-18 05:38] slaskawi commented on #37
Fixed by https://github.com/jgroups-extras/jgroups-kubernetes/pull/38

[2017-10-18 05:38] #37 closed

[2017-11-16 11:28] slaskawi opened #39 "Occasional NPE on shutdown"
[code]

[2018-02-01 10:03] ramakrishna90 commented on #13
in kubernetes version 1.8 it is giving 403 error when the kube_ping pings the kube api server. What can we do for this, we are using 0.9.3 version of the jgroups kubernetes discovery api, because the jgroups core api version is 3.6.11

[2018-02-02 11:29] slaskawi commented on #13
I'm not sure exactly what the problem is but getting `403` usually means permission problems. You need to make sure that your Pod has `view` permissions. In OpenShift for example you need execute additional commands (see [this manual entry](https://github.com/jgroups-extras/jgroups-kubernetes/tree/stable#running-inside-of-openshift)). My intuition tells me that you will also need it for Kubernetes

[2018-02-02 13:16] ramakrishna90 commented on #13
Sorry everyone,
I got the issue solved, We need to enable role binding in kubernetes where the service account for the namespace must be given the pod list get permissions

[2018-02-02 13:19] slaskawi commented on #13
Great! I'm glad you solved the issue.. Closing.

[2018-02-02 13:19] #13 closed

[2018-02-27 09:40] tristantarrant opened #42 "Drop the oauth dependency"
The OAuth dependency is only used to read private keys from PEM files. The library itself is abandoned. We should copy over the few Apache-licensed file and drop the dependency

[2018-02-27 10:53] #42 closed

[2018-04-11 13:31] LittleJohnII opened #44 "Deprecated property warning printed even when property is not set"
[code]

https://github.com/jgroups-extras/jgroups-kubernetes/blob/master/src/main/java/org/jgroups/protocols/kubernetes/KUBE_PING.java#L176
should look like:
[code]

[2018-04-12 07:12] #44 closed

[2018-04-17 14:08] SebastianStehle opened #46 "403 Error"
Hi,

I am getting a 403 in gcloud, when the pod-client tries to query all pods. Have you experienced it?

[2018-04-23 14:46] belaban commented on #46
Incorrect permissions? What's the stack trace?

[2018-04-23 16:00] SebastianStehle commented on #46
Yes, got it fixed. I was using an older cluster before where the service account had much more permissions before. Therefore I was not aware that you have to give permissions.

[2018-04-23 16:09] belaban commented on #46
Alright, glad you fixed it! Can you close this issue then?

[2018-04-23 17:42] #46 closed

[2018-06-08 05:43] vromero opened #47 "Does 0.9.3 still works with latest kubernetes?"
I'm trying to use `jgroups-kubernetes` `0.9.3` (instead of 1.x.x due to advice in #30) with ActiveMQ Artemis.

The cluster versions are the following:
[code]

But I'm getting :
[code]

Is `0.9.3` still intended to work in Kubernetes `1.10`?

Thanks

[2018-06-08 06:31] vromero commented on #47
Please disregard, I might have been bitten by a minikube bug: https://github.com/kubernetes/minikube/issues/2342

[2018-06-08 06:31] #47 closed

[2018-06-11 03:00] vromero opened #48 "Troubleshooting hints"
I'm trying to use KUBE_PING with activemq-artemis in k8s. No outstanding errors, but it does not form a cluster. I made sure of the basics, I'm attaching to the public ip, the right permissions are in place, etc.

What would you suggest to troubleshoot this? is there any way to increase the logging of this project?

I'm already using `<TRACE/>` see below.

[code]

[2018-06-11 06:31] belaban commented on #48
You're using IPv6 addresses for JGroups. IIRC, IPv6 may not be supported in some cloud/K8s environments... Can you try with `-Djava.net.preferIPv4Stack=true`?

[2018-06-11 07:03] vromero commented on #48
Good catch! Thanks

It is a bit odd because I'm actually passing it already:

[code]

I'll keep digging to try to figure out where that IPV6 address come from.

FWIT this is 0.9.3 due to the version of jgroups Artemis uses.

[2018-06-11 07:04] belaban commented on #48
It is `-Djava.net.preferIPv4Stack=true`, NOT `-Djava.net.preferIPv4Addresses=true`

[2018-06-11 07:05] belaban commented on #48
You probably confused it with `-Djava.net.preferIPv6Addresses=true`, to enable IPv6

[2018-06-11 07:22] vromero commented on #48
Now I'm officially embarrassed :) Both are valid for its own purposes AFAIK, but totally I misread your comment.

`-Djava.net.preferIPv4Stack=true` does the trick to force IPV4, but the cluster still doesn't form.

[code]

Just so I don't have to be bothering you each step, is there a way to increase the log level and see the responses from kubernetes?

[2018-06-11 07:28] belaban commented on #48
Looks like you're using the old version of `KUBE_PING`...  the problem is that there is not a lot of logging in the old version [1]... :-)

Could you possibly start a node in debug mode and then connect via a debugger?
Do you have an image that I could try out?

[1] https://github.com/jgroups-extras/jgroups-kubernetes/blob/stable/kube/src/main/java/org/jgroups/ping/kube/KubePing.java

[2018-06-12 06:09] vromero commented on #48
I definitely can, will give it a try as soon I'm able to.

https://github.com/vromero/activemq-artemis-docker.git

[2018-06-12 06:14] vromero commented on #48
I definitely can, will give it a try as soon I'm able to.

I do, the image I'm using:
[code]

To install I'm using helm, if you are not a helm user please disregard, I don't want to bother you too much:

[code]

(that will pull the image I already published in `vromero/activemq-artemis:jgrouptest`)

[2018-06-12 08:09] slaskawi commented on #48
@vromero If you rebase onto the latest `KUBE_PING`, you should be able to get this log messages: https://github.com/jgroups-extras/jgroups-kubernetes/blob/master/src/main/java/org/jgroups/protocols/kubernetes/Client.java#L115-L120

[2018-06-12 17:00] vromero commented on #48
Thanks @slaskawi,

However, I'm stuck with jgroups 3 and therefore I have to use 0.9.3. This said I'll backport and will compile and add some extra log for my local copy of 0.9.4-snapshot

[2018-06-12 18:34] slaskawi commented on #48
Sounds good @vromero.

If you submit a PR, I can merge it (if there are no defects in it) and do a `0.9.4` release.

[2018-06-12 18:36] belaban commented on #48
@vromero It's a good idea to backport the changes, but also add some more logging to the code, as you suggested.

[2018-06-12 22:54] vromero commented on #48
Thanks, yeah that was my intent, bring some logging up to figure out what is going on.

[2018-06-13 02:09] vromero commented on #48
Well that helped to rule out some things, a little `log.info(root.toString());` at the beginning of `getPods` returned the right list of pods:

[code]

And a `log.info(String.format("getPods(%s, %s) = %s", namespace, labels, pods));` at the end of the same method gave:

[code]

Which I believe proves there is no problem at all in regards to communication with Kubernetes.

I guess I should focus on

[2018-06-13 07:05] slaskawi commented on #48
@vromero Not necessarily!

The next step is to filter out all Pods that doesn't match certain criteria (see [this piece of the code](https://github.com/jgroups-extras/jgroups-kubernetes/blob/stable/kube/src/main/java/org/jgroups/ping/kube/KubePing.java#L207-L209)).

My lucky guess is that your Containers do not expose the port used for `KUBE_PING` communication (default is 8888 but can be changed

[2018-06-14 09:50] slaskawi commented on #48
@vromero Sounds great! Thanks for the heads up!

[2018-06-20 23:11] uromahn opened #49 "Issue with Service Discovery in K8s with "NotReady" node"
We are using Infinispan in our application which gets deployed to a Kubernetes (k8s) cluster. In our application, we are using KUBE_PING for service discovery.

There is an edge case when the Infinispan cache cluster won't properly synchronize causing all new pods that get started or existing to get restarted to fail and go into a restart-loop.

Here is the situation:
In case a pod is running on a

[2018-06-21 07:06] belaban commented on #49
Hmm... is this similar to the old version of KUBE_PING where we queried only pods that were in `Ready` state [1]?

I recall that we changed this once to only query the `Running` pods, how is this different from `Ready`?

[1] https://github.com/jgroups-extras/jgroups-kubernetes/blob/stable/kube/src/main/java/org/jgroups/ping/kube/Client.java#L118

[2018-06-21 07:13] uromahn commented on #49
I am not in front of my computer now. I will check the code tomorrow my
time and update the ticket.

On Thu, Jun 21, 2018 at 00:06 Bela Ban <notifications@github.com> wrote:

[2018-06-21 07:55] slaskawi commented on #49
@belaban I believe it depends on the version. I recall removing the "ready" check from the latest version (https://github.com/jgroups-extras/jgroups-kubernetes/blame/master/src/main/java/org/jgroups/protocols/kubernetes/Client.java#L98-L118) since I couldn't find a use case where Kubernetes assigns an IP Address to a Pod but keeps it in a now `Running` state.

Therefore, I would really like to lea

[2018-06-21 09:12] belaban commented on #49
@slaskawi Yes, I recall we had a discussion on that, but let's see what @uromahn has to say...

[2018-06-21 14:45] uromahn commented on #49
I am trying to reproduce the situation which is not easy with a K8s cluster consisting of almost 100 nodes. I may have to setup a local test environment with just two nodes hoping I can reproduce there.

[2018-06-21 15:53] uromahn commented on #49
In the meantime, I did some research...
We are using Infinispan 9.1.4 (soon to be upgraded to 9.2.5) which is using jgroups-kubernetes 1.0.5.Final. We are running it on a K8s 1.6.13 cluster with currently 69 node (however, in production we have 300+ nodes!).

In the `Client.java`, I found the following comment in the method `parseJsonResult()`:
[code]

This is causing us grieve.
The observed issue

[2018-06-21 16:02] uromahn commented on #49
Sorry for the apparent late response. I am in California, 9 hours behind you guys. My GitHub location wasn't correctly updated.

[2018-06-21 18:13] slaskawi commented on #49
@uromahn @belaban Ok, so I guess the solution is clear - we need to check if the pod is in `Running` status.

[2018-06-22 06:11] uromahn commented on #49
@belaban and @slaskawi - I have started working on such a solution. I have also quite a few example JSON files which I am going to "sanitize" and use for unit tests that simulates some different scenarios.
Unfortunately, just checking for `Running` status isn't going to be enough. I'll explain more in the code as comments once I have finished it.
I am going on a two week vacation starting Saturday

[2018-06-22 08:27] belaban commented on #49
OK, sounds good. Note that JGroups can do discovery in parallel, and thus won't be blocked by an unresponsive member, plus such a member would eventually be excluded from the cluster view if it doesn't send out heartbeats. But that's probably too late in the process for you

[2018-06-22 16:29] uromahn opened #50 "split_clusters_during_rolling_update only works for OpenShift"
The split_clusters_during_rolling_update flag only works for OpenShift. It relies on the property `metadata.property.labels.deployment` being set as "parentDeployment" (see KUBE_PING.java line 237+).
However, this label is not set when using rolling updates without OpenShift. In our case, for example, we do rolling updates differently and use ReplicaSets (since we are still on K8s 1.6) for that. F

[2018-06-28 05:15] slaskawi commented on #50
Thanks for spotting this @uromahn! At the moment, supporting this feature on vanilla Kubernetes is not our priority. However we would appreciate a community contribution here.

[2018-06-28 06:51] belaban commented on #50
+1

[2018-07-09 17:34] uromahn commented on #49
Closed due to fix merged into master.

[2018-07-09 17:34] #49 closed

[2018-07-11 16:58] uromahn opened #53 "How to push a new version to public maven repo?"
My two PRs have been merged into master with the pom.xml showing the new version 1.0.7. How do I get this now pushed to the public maven repos? Is there something I have to do or someone from the committer team?

Thanks!

[2018-07-12 07:04] belaban commented on #53
I updated JGroups to 4.0.12.Final and released jgroups-kubernetes 1.0.7.Final. The new version number is now 1.0.8-SNAPSHOT.
Cheers

[2018-07-12 07:04] #53 closed

[2018-07-12 08:48] missedone commented on #53
there's no git tag of 1.0.7, also no 1.0.7.Final artifact available in central maven repo http://search.maven.org/#search%7Cga%7C1%7Cjgroups-kubernetes

[2018-07-12 09:34] belaban commented on #53
It's in https://repository.jboss.org/nexus; probably needs syncing with maven central. I don't know what the sync interval is, but wait a few hrs and it should be there

[2018-07-13 22:53] missedone commented on #53
OK, i see the jar in central maven repo, however, there's missing git tag in this repo, it's better to add it.

[2018-07-19 12:12] brix4dayz opened #54 "RFE: Use a Service for discovery rather than labels"
Although a Service uses labels for selecting which Pods to forward traffic to, it also considers the liveness and readiness probes to ensure that it only creates Endpoints for Pods which are considered "Ready". Other applications, such as [Apache Ignite ](https://github.com/pires/apache-ignite-discovery-kubernetes) use Services for getting Endpoints to get Pod IPs, rather than label selectors for

[2018-07-19 14:06] belaban commented on #54
Doesn't podRunning() [1] check for pod status?

[1] https://github.com/jgroups-extras/jgroups-kubernetes/blob/master/src/main/java/org/jgroups/protocols/kubernetes/Client.java#L131

[2018-07-19 15:17] brix4dayz commented on #54
Yep apologies confused phase for status.

[2018-07-20 11:32] belaban commented on #54
I'm always interested in suggestions.. e.g. in the form of a pull request :-)

[2018-07-23 08:06] slaskawi commented on #54
@brix4dayz Actually, you can use [DNS_PING](http://www.jgroups.org/manual4/#_dns_ping) which does exactly what you want - it can use Service (DNS entries to be precise) to obtain cluster members IPs.

[2018-07-23 09:30] missedone commented on #54
In my experience, KUBE_PING is a more generic solution as sometimes we don't have Service at all.

[2018-07-27 21:03] brix4dayz commented on #54
@slaskawi had no idea K8s made SRV records like that, very cool! Thanks, that is more along the lines of what I has thinking.

@missedone though you might not have a Service, you have to create a ServiceAccount and a RoleBinding (at least for OpenShift) in order to use KUBE_PING I think its worth noting. Depending on the policies your cluster admin is enforcing, it might be easier to make a Servic

[2018-07-27 21:03] #54 closed

[2018-07-28 07:46] missedone commented on #54
@slaskawi, is there any example about using DNS_PING in kubernetes? thx

[2018-07-28 07:49] missedone commented on #54
agreed :)

[2018-07-30 08:49] slaskawi commented on #54
@missedone Here's an example project I used for testing: https://github.com/slaskawi/jgroups-dns-ping-example

[2018-11-06 18:58] ivan-meridianbanc-com opened #57 "1.0.8.Final"
When will be released 1.0.8.Final ?

[2018-11-07 08:21] belaban commented on #57
Done

[2018-11-07 08:21] #57 closed

[2019-01-14 00:45] SebastianStehle opened #58 "MJson Memory leak"
Hi,

we are using your package in a test environment and are facing the following leak:

https://github.com/bolerio/mjson/issues/27

I am not 100% sure if it has been fixed but it brings our system down after a few days. Our small application consumes 2GB of RAM at the moment and 80% is the json leak.

[2019-01-14 08:14] belaban commented on #58
It looks as if the fix proposed by @slaskawi is already in the Json class that's part of jgroups-kubernetes?

[2019-01-14 08:40] SebastianStehle commented on #58
Sorry, I guess we just have to update the version number :)

[2019-01-14 09:55] belaban commented on #58
OK, let me know if this works

[2019-01-14 10:44] SebastianStehle commented on #58
So far it looks much better.

[2019-02-15 10:49] CalamarBicefalo opened #59 "Cluster formation using KUBE_PING"
I believe this is not strictly related to jgroups, but It might help others too:

I am deploying Keycloak in kubernetes, and have been messing around with KUBE_PING for a week now. I get jGroups to form a cluster, but infinispan cannot propagate the initial state, therefore preventing the cluster from becoming healthy.

The cluster uses KUBE_PING
`Setting JGroups discovery to kubernetes.KUBE_PING

[2019-02-15 13:11] belaban commented on #59
The cluster forms successfully, so this is not a JGroups issue (at least not in the discovery phase). I suggest contact the keycloak/Infinispan folks, to see if this is a problem in their code.

[2019-04-01 10:30] #58 closed

[2019-05-22 13:18] rhusar commented on #59
Closing – this is not indicative of problem with KUBE_PING. Please file in the appropriate place.

[2019-05-22 13:18] #59 closed

[2019-05-22 13:19] rhusar commented on #39
Closing for now as this hasn't been reported by QE in the past year. Please reopen @slaskawi if problem can be hit again with updated line numbers.

[2019-05-23 09:18] rhusar opened #60 "CI build is failing due to wrong credentials"
https://ci.infinispan.org/job/JGroups%20Kubernetes/job/master/1/console

[code]

[2019-05-23 09:27] slaskawi commented on #60
Unfortunately, I don't maintain Jenkins anymore. Perhaps we should switch to Travis?

[2019-05-23 09:41] rhusar opened #62 "Setup CI -- e.g. Travis CI"

[2019-05-23 09:42] rhusar commented on #60
@slaskawi Agreed, closing and opened https://github.com/jgroups-extras/jgroups-kubernetes/issues/62

[2019-05-23 09:42] #60 closed

[2019-05-23 09:43] rhusar commented on #60
@slaskawi Should I remove

Collaborators
@infinispanrelease
Infinispan Release Scripts
infinispanrelease

from the collaborators then? Or what else is needed to remove the Jenkins integration?

[2019-05-23 09:47] rhusar commented on #60
Actually, the CI testing seems to work, its when it attempts to push a snapshot it fails it seems. But that could be due to wrong version in maste r:-)

https://ci.infinispan.org/job/JGroups%20Kubernetes/job/PR-61/1/

[2019-05-23 09:53] rhusar opened #63 "Tags for released version are missing"
https://repository.jboss.org/nexus/index.html#nexus-search;gav~org.jgroups.kubernetes~jgroups-kubernetes~~~~kw,versionexpand

[2019-05-23 13:18] rhusar opened #64 "Using KUBERNETES_CLIENT_CERTIFICATE_FILE on OCP 4.1+ fails since it only parses the first CA certificate from the ca.crt store"

[2019-05-23 13:20] #64 closed

[2019-05-24 07:45] slaskawi commented on #62
I can look into that but after my PTO (so after June 10th).

[2019-06-03 08:16] kunal-bhatia opened #67 "Unable to discover members to form a cluster in kubernetes"
This is in reference of using ehcache jgroups replication with jgroups library for kubernetes, with which it is unable to find the members with specific namespace to form a cluster, not sure if the match interface is correct or missing some variable to be used in  the configuration

**Dependencies version**
[code]
**tcp.xml**
[code]

**K8s Manifests**
[code]

**Logs from the pods (refer to my_view

[2019-06-03 14:09] belaban commented on #67
It's likely you don't have a network interface starting with `en`. Running `ifconfig` will show you the available interfaces.
If you provide me a fully working YAML file (without `<some repo>`), I'll take a look.
Also, you're picking an IPv6 address, which is probably incorrect.

[2019-06-03 16:33] belaban commented on #67
One thing to try out is to see if you have permissions, see https://github.com/jgroups-extras/jgroups-kubernetes#Demo for details

[2019-06-04 08:35] kunal-bhatia commented on #67
Thanks for a quick response, I changed to use the eth0 interface as per the ifconfig command result, and also explicitly specified to use the ipv4 stack using the java tooling options, but still looks the my_view does not show the other member in the cluster. Do i need to use the clusterrole instead of role.?

Ref to github repository - https://github.com/kunal-bhatia/ehcache-jgroups-demo

[2019-06-04 09:26] kunal-bhatia commented on #67
It works now, it was issue with exposing the 8888 port from the container. Thanks a lot for your support and cooperation. Really appreciate.

[2019-06-04 09:26] #67 closed

[2019-06-04 11:01] belaban commented on #67
Happy to be of assistence!

[2019-06-04 15:48] rhusar commented on #62
Given that it's still working on Jenkins, lets revisit this once it becomes a problem.

[2019-06-04 15:48] #62 closed

[2019-06-26 07:51] slaskawi commented on #63
Hey @belaban

I guess you did all the releases. Could you please `git push --tags upstream`, just to push all the tags to the repo?

[2019-06-26 07:51] slaskawi commented on #62
Ok, I can confirm - Jenkins works as expected - https://github.com/jgroups-extras/jgroups-kubernetes/pull/71

[2019-06-26 07:54] belaban commented on #63
I do see tag `1.10.1.Final`, I did a push when I released it!

[2019-06-26 13:04] rhusar commented on #63
I had to already fix this myself as it halted productization process.

[2019-06-26 13:04] #63 closed

[2019-07-13 01:36] pabrahamusa opened #73 "kube_ping not discovering members"
I have configured Kube_Ping , and it seems each 'supposed to be member' is creating separate cluster . But kube_ping is connecting  and resolving all pod ip address. But somehow each pod created it own cluster and causing port conflict when they try to communicate each other.

Kubernetes Client Version: v1.15.0
Kubernetes Server Version: v1.11.10
Cloud: AWS
Jgroups version - 4.1.1.Final

config.xm

[2019-07-15 08:52] slaskawi commented on #73
This is a typical symptom, that discovery doesn't work.

From the logs I can clearly see that something is blocking communication on port `51001`. Could you please try to remove `port_range="1"` and let KUBE_PING figure out the best port for itself?

[2019-07-16 01:15] pabrahamusa commented on #73
Thanks slaskawi ,

I removed the port_range="1" and kube_ping was still probing 51001 so I put port_range="0" and the error disappeared. Not sure that means it is working.
I am running two pods,  both says  no members discovered and creating cluster as first member. Is this a normal behaviour?. However the logs correctly displaying the pods from api server on both containers.

pod - mytest-0
-----

[2019-07-16 09:04] slaskawi commented on #73
This is absolutely fine. All it means, is that JGroups were able to form a cluster by communicating through port `51000`. Port `51001` was blocked (probably through a firewall or some iptables settings).

Could you please send me full logs? It would be perfect, if the logs were on `DEBUG` level. I'm specifically looking what `views` were emitted by JGroups.

In general, it sounds like you have str

[2019-07-18 16:01] boyang121 commented on #48
Hi @vromero, I am looking to set up an artemis cluster using your 2.6.0 image, but am running into issues creating the cluster in a Kubernetes environment, just like you were having in this thread. Do you mind sharing your JGroups config XML file as well as the broker XML? I have exposed port 8888 on the container and also added `-Djava.net.preferIPv4Stack=true` however, the cluster does not form.

[2019-07-19 01:57] pabrahamusa commented on #73
Hi slaskawi ,
Thanks again for looking into this. I have tested this and can see it is working.  These are the logs . Thanks for your help..!

-----------------------
POD mytest-0
-----------------------
mytest-0 mytest
mytest-0 mytest Fri Jul 19 01:36:25 UTC 2019   Info: main App:  Creating jgroups mytest manager cluster: mytestManager-Cluster-dev
mytest-0 mytest  STARTING JCHANNEL from ./conf/my

[2019-07-19 07:31] slaskawi commented on #73
Even though I don't see any `view` changes in your application, I believe you got this working, right?

Just in case:

- If you're using a Wildfly-based application (like Infinispan or Keycloak for example) you should see something like this in the logs:
[code]

- If you're using only JGroups, you might grab a view using this code snippet:

[code]

[2019-07-19 22:49] pabrahamusa commented on #73
Hi slaskawi ,

it is working and I added the code as you provided. The views are displayed on both pods. The second pod got one additional view as well. I assume that is expected?

mytest-0 mytest The view is == [mytest-0-29425|0] (1) [mytest-0-29425]
mytest-1 mytest The view is == [mytest-0-29425|1] (2) [mytest-0-29425, mytest-1-4456]

**Logs:-**

**pod - mytest-0**

anager-0 mytest Fri Jul 19 22

[2019-07-22 12:04] slaskawi commented on #73
Thanks a lot for the logs @pabrahamusa

Yes, you can increase the sleep time, See https://github.com/jgroups-extras/jgroups-kubernetes#kube_ping-configuration

[2019-07-22 12:04] #73 closed

[2019-10-08 08:52] jmesnil opened #75 "KUBE_PING warning with StatefulSet"
The [WildFly Operator](/wildfly/wildlfy-operator) is using a `StatefulSet` to deploy application on Kubernetes/OpenShift.

It was possible to use KUBE_PING with WildFly 17 (and the JGroups version that it integrated) but there is a new warning with WildFly 18 during the deployment of the application:

[code]

Indeed pod-template-hash label is set only for pods coming from a `Deployment`[1] and is

[2019-10-08 08:57] jmesnil commented on #75
WildFly 18 uses jgroups-kubernetes 1.0.12.Final
WildFly 17 uses jgroups-kubernetes 1.0.9.Final

[2019-10-08 09:15] rhusar commented on #75
I am not sure, are you just seeing a warning or does the discovery not work?

The change that introduced this is https://github.com/jgroups-extras/jgroups-kubernetes/commit/be3d7339411c2c7a3136c3230b0f193589cb0964

[2019-10-08 09:17] jmesnil commented on #75
@rhusar I edit the issue, I thought it was not working but I was not patient enough for the cluster to be formed :)

So, it's working but it logs this warning

[2019-10-08 10:39] slaskawi commented on #75
@jmesnil @rhusar The clustering should work fine, however, you won't be able to separate deployments during rolling update (see `split_clusters_during_rolling_update` property). I believe we'll need to enhance this feature to support `StatefulSets` as well.

[2019-10-10 18:46] rhusar commented on #75
The WF Jira for this is https://issues.jboss.org/browse/WFLY-12657.

[2019-10-11 07:00] slaskawi commented on #50
Fixed in https://github.com/jgroups-extras/jgroups-kubernetes/pull/72

[2019-10-11 10:07] slaskawi opened #77 "Initial discovery ends up in singleton partitions"
When performing initial discovery, all members end up in a singleton partition and then we merge them. This behavior might be dangerous and may lead to losing data. Here's an example:

[code]

[2019-10-11 10:34] #75 closed

[2019-10-11 10:34] #77 closed

[2019-11-21 18:04] mshaposhnik opened #79 "Labels system property name inconsistence"
As far as i can see in code, labels filtering property name is
`KUBERNETES_LABELS`
(https://github.com/jgroups-extras/jgroups-kubernetes/blob/master/src/main/java/org/jgroups/protocols/kubernetes/KUBE_PING.java#L81)
But in readme, it is 2 times mentioned as `KUBERNETES_LABEL`.

is that a bug or am I missing something? I can prepare readme fixup PR if you wish.

[2019-11-25 10:13] slaskawi commented on #79
Thanks for spotting this @mshaposhnik !

Yes, it would be great if you could prepare a Pull Request with a fix. Please remember about backwards compatibility (even though it was an obvious typo, old deployments should work with it) and documentation update.

[2019-11-25 17:04] belaban commented on #79
I fixed this in the readme, thx,

[2019-11-25 17:04] #79 closed

[2020-01-22 06:03] pkremens commented on #39
I saw that one in logs today (JGroups version 4.1.4). I can report an issue in case that I'll see it more often, or it will somehow start to break our tests. The exception popped up during the server shutdown.

[code]

[2020-01-22 07:01] rhusar commented on #39
I see where this is coming from. Its another race on close.

[2020-01-22 13:19] rhusar commented on #39
@pkremens Thanks for the update - opened WF tracker as well to keep track of this https://issues.redhat.com/browse/WFLY-13006

[2020-01-22 14:19] pkremens commented on #39
Perfect, thanks for an update.

[2020-01-22 15:37] #39 closed

[2020-09-24 12:59] spolti opened #109 "If the KUBERNETES_NAMESPACE is not set the default value is the "default" namespace"
If no namespace is set it defaults to the "default" ocp namespace  which will case the warn as described in the log message below:

```WARN  [org.jgroups.protocols.kubernetes.KUBE_PING] (thread-9,ee,hdm78-kieserver-1-nggcf) failed getting JSON response from Kubernetes Client[masterUrl=https://172.30.0.1:443/api/v1, headers={Authorization=#MASKED:937#}, connectTimeout=5000, readTimeout=30000, opera

[2020-09-25 13:10] slaskawi commented on #109
Previous tracker: https://issues.redhat.com/browse/JGRP-2502

[2020-11-10 06:36] xiangwangcheng opened #113 "Can this be used in non-k8s environment？"
Can this dependency be used in non-k8s environment？@belaban
Since I don't want to maintain 2 projects/branches of k8s-deployment code and non k8s-deployment code.

[2020-11-10 07:23] belaban commented on #113
No, I don't think so; this is targeted at Kubernetes/Openshift envs.

[2020-11-10 07:23] #113 closed

[2021-02-05 12:49] FabioBentoLuiz opened #121 "Every member has the view=null"
I'm building a prototype locally (docker desktop) and I've noticed that the view from all the members is null, what let me believe that the cluster is not healthy.
As I add new members, I have no additional logs. There is any way to run it in "verbose/debug" mode?
I appreciate any help.

**Component Versions**:
docker desktop: 3.1.0(51484)
Engine: 20.10.2
Kubernetes: 1.19.3
jgroups-kubernetes: 2.0

[2021-02-05 14:48] rhusar commented on #121
That's not a usable JGroups stack! Start with https://github.com/belaban/JGroups/blob/master/conf/tcp.xml and replace the `TCPPING` with the `kubernetes.KUBE_PING` one.

[2021-02-05 15:37] FabioBentoLuiz commented on #121
Hi @rhusar, you are right.
I've adapted the configuration below and now it is working as expected.
https://github.com/belaban/IspnPerfTest/blob/cb882f0d127b0ef28ec1630eed5a2a2e14b8816c/src/main/resources/jgroups-kube.xml

Thanks a lot!

[2021-02-05 16:37] rhusar commented on #121
Great, closing now.

[2021-02-05 16:37] #121 closed

[2021-02-05 16:40] rhusar commented on #109
That does not make sense. You configured a discovery protocol to discover members. If you do not want that, then so not configure a discovery protocol.

[2021-07-04 05:30] gazal-k opened #134 "Compatibility with TCP_NIO"
Is KUBE_PING compatible with TCP_NIO? Only asking because the examples use TCP.

[2021-07-04 16:41] belaban commented on #134
Yes; the transport (TCP, TCP_NIO2) is independent from the discovery protocol (KUBE_PING).

[2021-07-04 16:41] #134 closed

[2022-02-08 11:58] navdeepbansal opened #140 "not able to configure kube_ping with jgroups"
Project is not able to identify KUBE_PING, i have added jgroups-kubernetes dependecy, still it says 'KUBE_PING' not loaded

[2022-02-08 12:00] rhusar commented on #140
You also need to add the protocol to your JGroups stack.

[2022-02-08 12:11] navdeepbansal commented on #140
protocol i have added with TCP in jgroups-config.xml file
<TCP ...... />
<org.jgroups.protocols.kubernetes.KUBE_PING port_range..... />

this is how i have done it. or is some other protocol i need to add ?

[2022-03-26 15:31] bramalingam81 opened #146 "KUBE_PING on AWS EKS not working..."
I am trying to deploy Infinispan cluster with Jgroups clustering using below mentioned configuration on AWS EKS cluster. When I start the container without the transport config in infinspan.xml, container starts without clustering. When I start the container with transport, container terminates during startup.

container-logs
[code]

jgroups.xml
[code]
infinispan.xml
[code]

Service account and cl

[2022-03-28 07:36] belaban commented on #146
What do you mean by 'without transport'? And what does the log say when the pod is terminated at startup?

[2022-03-28 11:21] bramalingam81 commented on #146
Thank you,
Container logs - container terminates with below logs ...

[code]

By Without transport, I mean, by commenting the <transport> in infinispan.xml...

[2022-03-28 11:33] belaban commented on #146
Nothing JGroups-specific there... I suggest contact the Infinispan team.

[2022-03-28 11:43] bramalingam81 commented on #146
Sure, I would like to provide little more information on this issue. When I comment the transport element in infinispan.xml, observed that infinispan server is up and running, but it uses the default transport based on UDP Protocol. Since, AWS EKS (Kubernetes Service) doesn't support UDP, all 3 instances of infinispan server did not had a view of each other and hence cluster was not formed.

I did

[2022-03-28 11:56] belaban commented on #146
I suggest take a look at DNS_PING and use TCP as transport. For cross-region traffic, Infinispan has a cross-cluster feature.

[2022-03-28 11:59] belaban commented on #146
Also, Infinispan ships with a default-jgroups-kubernetes.xml config, which shows how to run in Kubernetes environments

[2022-03-28 14:40] #146 closed

[2022-04-22 14:09] rhusar commented on #140
@navdeepbansal have you had a chance to look into this? Can we close this now?

[2022-04-22 14:09] rhusar commented on #109
@spolti Any comment or can we close this?

[2022-04-22 18:28] spolti commented on #109
Hi @rhusar the warn still happening, looking here it still defined to default if nothing is set
https://github.com/jgroups-extras/jgroups-kubernetes/blob/master/src/main/java/org/jgroups/protocols/kubernetes/KUBE_PING.java#L74

[2022-04-25 08:28] navdeepbansal commented on #140
yes @rhusar, it can be closed.

[2022-04-25 10:11] #140 closed

[2022-04-25 12:57] Huthesh opened #149 "java.lang.NoSuchFieldError: use_ip_addrs"
I am seeing java.lang.NoSuchFieldError: use_ip_addrs exception with following dependencies
Jgroups : 5.2.2.Final
jgroups-kubernetes : 1.0.16.Final
Kubernetes version: v1.22.5

Stacks trace:

java.lang.NoSuchFieldError: use_ip_addrs
        at org.jgroups.protocols.kubernetes.KUBE_PING.findMembers(KUBE_PING.java:208)
        at org.jgroups.protocols.Discovery.callFindMembersInAllDiscoveryProtocols(

[2022-04-25 13:14] rhusar commented on #149
@Huthesh The `use_ip_addrs` is a property of the transport protocol, not discovery protocol nor KUBE_PING.

See http://www.jgroups.org/javadoc4/org/jgroups/protocols/TP.html#use_ip_addrs

For list of supported properties of KUBE_PING see this section https://github.com/jgroups-extras/jgroups-kubernetes#kube_ping-configuration

[2022-04-25 16:22] Huthesh commented on #149
Thanks for information. This is my config
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="urn:org:jgroups" xsi:schemaLocation="urn:org:jgroups http://www.jgroups.org/schema/jgroups.xsd">
  <TCP
    external_addr="${JGROUPS_EXTERNAL_ADDR:match-interface:eth0}"
    bind_addr="site_local,match-interface:eth0"
    bind_port="${TCP_PORT:7800}"
    recv_buf_size="5M"
    send_buf_si

[2022-04-25 16:44] pferraro commented on #149
jgroups-kubernetes 1.0.16.Final requires JGroups 4.2.x - it is not runtime compatible with JGroups 5.2.x.

[2022-04-25 16:53] Huthesh commented on #149
Jgroup 4.2.21 the latest version has following Vulnerabilities related to Log4J. Is there a plan to fix them?

Vulnerabilities | Vulnerabilities from dependencies:CVE-2021-45105CVE-2021-45046CVE-2021-45046View 1 more ...
-- | --
Vulnerabilities	Vulnerabilities from dependencies:
[CVE-2021-45105](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-45105)
[CVE-2021-45046](https://cve.mitre.org/c

[2022-04-25 17:08] pferraro commented on #149
@Huthesh Those are not vulnerabilities in JGroups, but rather in its dependencies, which can be updated independently at runtime as you wish.

[2022-04-26 06:01] Huthesh commented on #149
@pferraro  Thanks for the input.. I am able to create JGroups cluster with 4.2.21.Final and 1.0.16.Final.

[2022-05-16 17:04] guptatapan opened #150 "java.lang.NoSuchFieldError: INTERNAL"
I am trying to use jgroups-kubernetes for auto discovery of Artemis cluster.
Artemis version 2.21.0 started using Jgroups 5.2.0.Final, and using jgroups-kubernetes : 2.0.0.Final throws `java.lang.NoSuchFieldError: INTERNAL`

I see a commit is made in master removing the said field : https://github.com/jgroups-extras/jgroups-kubernetes/commit/201dd2b625aee5427a08272bcef2c2cb4ac73c62

Is there any p

[2022-05-17 06:36] guptatapan commented on #150
@rhusar SNAPSHOT version is working fine with Jgroups-5.2.0.Final

[2022-05-17 14:49] rhusar opened #152 "Rename primary branch to 'main'"
https://www.redhat.com/en/blog/making-open-source-more-inclusive-eradicating-problematic-language

[2022-05-18 07:56] belaban commented on #152
If you agree with the above statement (I don't, `master` is not a discriminating word IMO), you can go ahead and make that change. You've kind of become the owner of jgroups-kuberenetes anyway... :-)

[2022-05-18 07:56] #152 closed

[2022-05-18 08:27] rhusar commented on #152
Yes the issues is intended for myself :)

[2022-05-18 10:05] rhusar commented on #152
Done now  – https://github.com/jgroups-extras/jgroups-kubernetes/pull/153 – closed.

[2022-05-19 14:08] DonnyOlijslager opened #154 "Refresh service account tokens"
AWS has graduated the BoundServiceAccountTokenVolume to the feature status in Kubernetes 1.21.

If I understand the feature correctly that means that in the future the service account tokens will be expired after an hour. This means that the token will have to be refreshed from disk within that time. At the moment the library does not reload the token.

AWS has updated it's clients to refresh the

[2022-05-23 21:06] rhusar commented on #154
Thanks @DonnyOlijslager for bringing this up. I believe your interpretation is correct. The protocol will have to refresh the service token once it's expired after parsing out the JWT token file.

The proposal was https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/1205-bound-service-account-tokens/README.md
The change was implemented in the client by https://github.com/kubernetes

[2022-05-23 21:13] rhusar commented on #150
@guptatapan Just to update on the release, there are ongoing issues with the release infrastructure (https://repository.jboss.org/nexus/) will update once it's releasable into maven again.

[2022-05-24 16:34] rhusar commented on #150
The release is out! https://repository.jboss.org/nexus/content/groups/developer/org/jgroups/kubernetes/jgroups-kubernetes/2.0.1.Final/

[2022-05-24 16:34] #150 closed

[2022-05-24 16:58] belaban commented on #150
+1!

[2022-07-28 17:33] stief510 opened #163 "Unable to load protocol"
I have added the protocol to my jgroups file but I am getting an error

[code]

Caused by: java.lang.Exception: JGRP000002: unable to load protocol org.jgroups.protocols.kubernetes.KUBE_PING (either with relative - org.jgroups.protocols.kubernetes.KUBE_PING - or absolute - org.jgroups.protocols.org.jgroups.protocols.kubernetes.KUBE_PING - class name)

[2022-07-28 19:12] rhusar commented on #163
I think this is a message you get when you are missing a jar (the one that this project builds) on the class path.

You can either (1) add dependency to your pom, (2) or download directly from maven https://repository.jboss.org/nexus/content/repositories/releases/org/jgroups/kubernetes/jgroups-kubernetes/ or (3) build from this repo/download sources.

[2022-07-28 19:13] rhusar commented on #163
Looks like the readme of this project can do a better job explaining installation instructions..

[2022-07-29 06:39] belaban commented on #163
Try `kubernetes.KUBE_PING`

[2022-07-29 10:29] rhusar commented on #163
The FQCN is already `org.jgroups.protocols.kubernetes.KUBE_PING` as configured in the stack, so the protocol name doesn't seem to be the issue here.

[2022-07-29 11:02] belaban commented on #163
@rhusar If you look at `org.jgroups.protocols.org.jgroups.protocols.kubernetes.KUBE_PING`, then obviously the absolute classname is constructed incorrectly...

[2022-07-29 11:06] rhusar commented on #163
If you read the whole message:

```(either with relative - org.jgroups.protocols.kubernetes.KUBE_PING - or absolute - org.jgroups.protocols.org.jgroups.protocols.kubernetes.KUBE_PING - class name)```

It tried both. Without prefix, then with prefix.

TBH JGroups shouldn't be appending the prefix is the provided protocol name already starts with that prefix...

[2022-07-29 11:11] belaban commented on #163
Look at the absolute name, it is incorrect

[2022-07-29 12:45] belaban commented on #163
I checked in `master`: absolute protocol names still work! I'll take a quick look at KUBE_PING now...

[2022-07-29 12:49] belaban commented on #163
It worked; must be the missing JAR then

[2022-09-06 13:39] Huthesh opened #167 "javax.net.ssl.SSLHandshakeException: Received fatal alert: handshake_failure"
Kube ping throwing following error.

WARN  2022-09-01 12:34:27,780  [main] org.jgroups.protocols.kubernetes.KUBE_PING: failed getting JSON response from Kubernetes Client[masterUrl=https://10.96.0.1:443/api/v1, headers={Authorization=#MASKED:1031#}, connectTimeout=5000, readTimeout=30000, operationAttempts=3, operationSleep=1000, streamProvider=org.jgroups.protocols.kubernetes.stream.TokenStreamPr

[2022-09-06 14:07] rhusar commented on #167
@Huthesh Which k8s distro+version is this applicable to? Does this manifest right at the start or after some time?

[2022-09-09 05:00] Huthesh commented on #167
issue seems to be  with TLS setting [here](https://github.com/jgroups-extras/jgroups-kubernetes/blob/main/src/main/java/org/jgroups/protocols/kubernetes/stream/TokenStreamProvider.java#L110)

It's working with TLSv1.2.  May be you need to provide a config to set this value instead of hard coding.

[2022-09-19 14:10] #167 closed

[2022-09-20 09:51] rhusar commented on #163
Closing – reopen with more information.

[2022-09-20 09:51] #163 closed

[2022-09-24 03:33] gazal-k commented on #154
We have a JVM application that uses jGroups TCP_NIO2 and KUBE_PING for discovery. I was alarmed by this issue, but we haven't yet encountered any application issues related to this.

What is the impact of KUBE_PING not refreshing service account tokens?

[2022-09-24 03:41] gazal-k commented on #154
I think I found the answer to my question.

https://docs.aws.amazon.com/eks/latest/userguide/service-accounts.html

Can't find any docs on when this will change, but sounds like we should update this soon.

[2022-10-19 09:13] jfdenise commented on #109
@rhusar , I would vote for reverting this change: https://github.com/jgroups-extras/jgroups-kubernetes/commit/7d7b6751f4d8dfc3e9420838ee4267b30f333057
Having the discovery protocol disabled when no namespace env variable has been set would be the expected behavior. "default" namespace is not a namespace advised to use to deploy applications.

[2022-10-19 09:39] belaban commented on #109
I disagree with @jfdenise. Reverting the change would not mean that clustering is *disabled*, but instead we have a fully configured clustering stack, but discovery will never detect any other members!
This is weird at best, because - if we don't want clustering - we should pick a stack (e.g. in Infinispan) which *does not cluster*, ie. a single-node, non-replicated, stack!

If people feel strongl

[2022-11-10 05:46] Huthesh opened #171 "How often kube ping calls Kuberentes get pod API"
How often kube ping invokes Kubernetes get POD API? Can we configure this frequency?

[2022-11-11 07:43] belaban commented on #171
This is called in 2 places: `GMS` runs a discovery on initial startup and `MERGE3` runs it periodically to detect if we have a split brain situation. I assume you refer to the latter. You need to change `min_interval` and `max_interval` in `MERGE3`: the interval will then be a random value within that range.

[2022-11-11 07:43] #171 closed

[2022-11-11 07:43] belaban commented on #154
Can we close this issue @gazal-k ?

[2022-11-11 07:44] belaban commented on #109
Any comments? Can we close this issue?

[2022-11-11 08:14] gazal-k commented on #154
The issue has not been fixed yet @belaban, it just hasn't become a high priority yet.

I think jgroups-kubernetes could use https://github.com/kubernetes-client/java or it would need a change similar to https://github.com/kubernetes-client/java/pull/1810

[2022-11-11 08:20] rhusar commented on #154
@belaban Right, this still needs fixing due to reasons @gazal-k posted above. Assigned to myself in the meantime, haven't gotten to it yet.

[2022-11-11 15:28] belaban commented on #154
OK

[2022-11-14 09:10] jfdenise commented on #109
@belaban , I am fine with closing it. I better understand the issue. No clustering means a complete different server configuration, not a discovery discovering nothing.

[2022-11-14 09:14] belaban commented on #109
+1